# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
run/client/config/cardinal-components-api.properties
run/client/config/fabric/indigo-renderer.properties
run/client/crash-reports/crash-2023-06-29_08.30.39-server.txt
run/client/data/fabricDefaultResourcePacks.dat
run/client/logs/2023-06-29-1.log.gz
run/client/logs/2023-06-29-2.log.gz
run/client/logs/debug-1.log.gz
run/client/logs/debug-2.log.gz
run/client/options.txt
run/client/saves/New World/advancements/d96be705-d0ae-31d3-afba-31a637d80f6d.json
run/client/saves/New World/data/raids.dat
run/client/saves/New World/DIM-1/data/raids.dat
run/client/saves/New World/DIM1/data/raids_end.dat
run/client/saves/New World/entities/r.-1.-1.mca
run/client/saves/New World/entities/r.-1.0.mca
run/client/saves/New World/entities/r.0.-1.mca
run/client/saves/New World/entities/r.0.0.mca
run/client/saves/New World/icon.png
run/client/saves/New World/level.dat
run/client/saves/New World/level.dat_old
run/client/saves/New World/playerdata/d96be705-d0ae-31d3-afba-31a637d80f6d.dat
run/client/saves/New World/playerdata/d96be705-d0ae-31d3-afba-31a637d80f6d.dat_old
run/client/saves/New World/poi/r.-1.-1.mca
run/client/saves/New World/poi/r.-1.0.mca
run/client/saves/New World/poi/r.0.-1.mca
run/client/saves/New World/poi/r.0.0.mca
run/client/saves/New World/region/r.-1.-1.mca
run/client/saves/New World/region/r.-1.0.mca
run/client/saves/New World/region/r.0.-1.mca
run/client/saves/New World/region/r.0.0.mca
run/client/saves/New World/session.lock
run/client/saves/New World/stats/d96be705-d0ae-31d3-afba-31a637d80f6d.json
run/client/servers.dat
run/client/servers.dat_old
run/client/usercache.json
run/server/eula.txt
run/server/logs/2023-06-29-1.log.gz
run/server/logs/2023-06-29-2.log.gz
run/server/logs/2023-06-29-3.log.gz
run/server/logs/debug-1.log.gz
run/server/logs/debug-2.log.gz
run/server/logs/debug-3.log.gz
run/server/ops.json
run/server/server.properties
run/server/usercache.json
run/server/whitelist.json
run/server/world/advancements/08b67744-0be2-3e10-bbbd-71a464b4b0c1.json
run/server/world/advancements/d96be705-d0ae-31d3-afba-31a637d80f6d.json
run/server/world/data/raids.dat
run/server/world/data/random_sequences.dat
run/server/world/DIM-1/data/raids.dat
run/server/world/DIM1/data/raids_end.dat
run/server/world/entities/r.-1.0.mca
run/server/world/entities/r.0.0.mca
run/server/world/level.dat
run/server/world/level.dat_old
run/server/world/playerdata/08b67744-0be2-3e10-bbbd-71a464b4b0c1.dat
run/server/world/playerdata/d96be705-d0ae-31d3-afba-31a637d80f6d.dat
run/server/world/playerdata/d96be705-d0ae-31d3-afba-31a637d80f6d.dat_old
run/server/world/poi/r.-1.-1.mca
run/server/world/poi/r.-1.0.mca
run/server/world/poi/r.-1.1.mca
run/server/world/poi/r.0.-1.mca
run/server/world/poi/r.0.0.mca
run/server/world/poi/r.0.1.mca
run/server/world/region/r.-1.-1.mca
run/server/world/region/r.-1.0.mca
run/server/world/region/r.-1.1.mca
run/server/world/region/r.0.-1.mca
run/server/world/region/r.0.0.mca
run/server/world/region/r.0.1.mca
run/server/world/session.lock
run/server/world/stats/08b67744-0be2-3e10-bbbd-71a464b4b0c1.json
run/server/world/stats/d96be705-d0ae-31d3-afba-31a637d80f6d.json
run/server/banned-ips.json
run/server/banned-players.json
run/server/config/cardinal-components-api.properties
