# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/run/
/build/
/.gradle/
/build/
/.idea/
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/classes/java/main/realms-refmap.json
build/loom-cache/mixin-map-loom.mappings.1_20_1.layered+hash.2198-v2.main.tiny
build/resources/main/assets/realms/lang/en_us.json
build/resources/main/assets/realms/lang/zh_cn.json
build/resources/main/realms.mixins.json
build/tmp/compileJava/previous-compilation-data.bin
